* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #FFB0CD, #F4BCF9, #F7CDFB, #F7CDFB);
    background-size: 500% 100% ;
    background-position: center;
    overflow-y: auto;
    margin:20px 0; 
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed
   
}
.titulo {
    height: auto;
    width: 100%;
    color: #FF0E65;
    margin-bottom: 150px;
    text-align: left; 
    margin-left: 10%;

}

.faixa{
    margin-top: 28px;
    padding: 15px;
    margin-left: -90px;
    width: 1000%;
    background-color: #FF99BE;
    border: 1px solid #FF0E65;

    
}
main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -100px;
}

.botao-container {
    margin-bottom: 15px; 
}

button {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#receberConselhos {
    background-color: #ff8cb6;
    color: #fff;
    border: 1px solid #FF0E65;
}

#obterFraseFilosofo {
    background-color: #ff8cb6;
    color: #fff;
    border: 1px solid #FF0E65;
    margin-top: 13px; ;

}

.info {
    background-color: #ff8cb6;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #FF0E65;
}

.container {
    color: #fff;
    padding: 20px;
    height: 250px;
    width: 350px;
    border-radius: 20px;
    background-color: #FF99BE;
    border: 1px solid #FF0E65;
}

input {
    outline: none;
    border: none;
    background-color: #ff8cb6;
    color: #ffffff;
}

#exibir {
    margin-bottom: 20px;
}
footer{
    color: #FF0E65;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

