* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    margin: 90px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #FFB0CD, #F4BCF9, #F7CDFB, #F7CDFB );
    background-size: cover;
    background-position: center;
}

.titulo {
    height: 10px;
    width: 100%;
    color: #FF0E65;
    margin-bottom: 200px;
    text-align: left; 
    margin-top: -50px;
}

.faixa {
    margin-top: 20px;
    padding: 10px;
    height: 30px;
    width: 150%;
    background-color: #FF99BE;
    border: 1px solid #FF0E65
}
main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -100px;
}

.botao-container {
    margin-bottom: 15px; 
}

button {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#receberConselhos {
    background-color: #ff8cb6;
    color: #fff;
    border: 1px solid #FF0E65;
}

#obterFraseFilosofo {
    background-color: #ff8cb6;
    color: #fff;
    border: 1px solid #FF0E65;
    margin-top: 13px; ;

}

.info {
    background-color: #ff8cb6;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #FF0E65;
}

.container {
    color: #fff;
    padding: 20px;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    background-color: #FF99BE;
    border: 1px solid #FF0E65;
}

input {
    outline: none;
    border: none;
    background-color: #ff8cb6;
    color: #ffffff;
}

#exibir {
    margin-bottom: 20px;
}
